@import '@xyflow/react/dist/style.css';
/* @import '@xyflow/react/dist/theme-default.css'; */
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

pre {
  font-family: var(--font-roboto), sans-serif;
}

button,
a {
  cursor: pointer;
}

@layer utilities {
  .animate-slide-in {
    @apply transition-transform duration-200 ease-out;
    transform: translateX(0);
  }
}
